<div class="app-form">
  <fieldset>
    <legend>Please, please Log in...</legend>
    
    <% form_tag do %>
      <p>
        <label for="name">Name:</label>
        <%= text_field_tag :username, params[:username] %>
      </p>
      <p>
        <%= submit_tag "Login" %>
      </p>
      
    <% end %>
  </fieldset>
</div>

